name: "Build & Release"
on:
  pull_request:
    branches:
      - dev
      - test
      - main
  push:
    branches:
      - dev
      - test
      - main 

jobs:
  build-macos:
    name: Build (IOS & MacOS)
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
      - name: Install Dependencies
        run: flutter pub get
      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | tr -d '\r')
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Build MacOS
        run: flutter build macos --release
      - name: Rename MacOS Build
        run: |
          cd build/macos/Build/Products
          mv Release OCMS-MacOS-$VERSION
      - name: Upload Artifacts (MacOS)
        uses: actions/upload-artifact@v4
        with:
          name: MacOS-${{ env.VERSION }}
          path: |
            build/macos/Build/Products/OCMS-MacOS-${{ env.VERSION }}/
          compression-level: 9
      - name: Build IPA
        run: flutter build ipa --no-codesign
      - name: Rename iOS Build
        run: |
          cd build
          mv ios OCMS-iOS-$VERSION
      - name: Upload Artifacts (iOS)
        uses: actions/upload-artifact@v4
        with:
          name: iOS-${{ env.VERSION }}
          path: |
            build/OCMS-iOS-${{ env.VERSION }}/
          compression-level: 9

  build-windows:
    name: Build (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
      - name: Install Dependencies
        run: flutter pub get
      - name: Build Windows
        run: flutter build windows --release
      - name: Extract version from pubspec.yaml
        id: extract_version
        run: |
          $version = (Get-Content "pubspec.yaml" | Select-String "^version: ").Line.Split(" ")[1]
          echo "VERSION=$version" >> $env:GITHUB_ENV
      - name: Rename Windows Build
        run: |
          cd build/windows/x64/runner
          Rename-Item -Path "Release" -NewName "OCMS-Win64-$env:VERSION"
      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Win64-${{ env.VERSION }}
          path: |
            build/windows/x64/runner/OCMS-Win64-${{ env.VERSION }}/
          compression-level: 9
          